.brand-dashboard {
  .b-list {
    .brand-box {
      height: 100%;
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
      @include transition();

      &:hover {
        background-color: $secondary-bg;
        @include transition();
      }

      .brand-desc {
        @include text-ellipsis(2);
      }
    }
  }
}

.brand-list {
  .brand-box {
    height: 100%;
    padding: 16px 12px;
    border: $border-default;
    border-radius: $border-radius-default;
    margin-bottom: 18px;
    background: $white;
    @include transition();
    cursor: pointer;

    &:hover {
      background-color: $secondary-bg;
      border-color: $border-hover-color;
      box-shadow: 0 2px 8px #00000014;
      @include transition();
    }

    .brand-link {
      display: block;
    }

    .brand-desc {
      @include text-ellipsis(2);
      color: #666;
      margin: 0;
    }
  }
}
