// footer styles
.footer {
  flex-shrink: 0;
  border-top: 1px solid $border-color-default;
  background-color: $white;
}

.footer-content {
  @include flex();
  padding-top: 16px;
  margin: 0 auto;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.footer-block {
  width: 100%;
  margin-right: 16px;
  border-right: 1px solid $border-color-default;
  padding-top: 16px;

  &:last-child {
    margin-right: 0;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;
    margin: 8px 0px;
    border-right: none;
    border-bottom: 1px solid $border-color-default;
    padding: 16px 0px;
  }

  &:last-child {
    border-right: 0;
    border-bottom: 0;
  }

  .block-title {
    padding-bottom: 8px;
    font-weight: $font-weight-medium;
  }

  .footer-link {
    padding-bottom: 4px;

    a {
      &:hover {
        color: $primary-color !important;
      }
    }
  }
}



/*
 * Copyright
 */

.footer-copyright {
  text-align: center;
  padding: 12px 0px;
  border-top: 1px solid $border-color-default;
  color: $font-subtext-color;
}
