/* start autosuggest styles */
.react-autosuggest__container {
  position: relative;

  .react-autosuggest__input {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid $border-color-default;
    border-radius: $border-radius-default;
    background-color: $white;
    -webkit-appearance: none;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 0 2px rgba(41, 98, 255, 0.1);
    }
  }

  .react-autosuggest__input::-ms-clear {
    display: none;
  }

  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    width: 100%;
    font-weight: 300;
    border-bottom-left-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
    z-index: 2;
    border: 1px solid $border-color-default;
    border-top: none;
    background-color: $white;
    box-shadow: $box-shadow;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: auto;
    max-height: 300px;
  }

  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 8px 12px;
    border-bottom: 1px solid $border-color-default;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $hover-bg;
    }
  }

  .react-autosuggest__suggestion--highlighted {
    background-color: $hover-bg;
  }

  .react-autosuggest__section-container--first {
    border-top: 0;
  }

  .react-autosuggest__suggestion-match {
    color: $font-custom-color;
    font-weight: $font-weight-medium;
  }

  .item-image {
    width: 40px;
    height: 40px;
    border-radius: $border-radius-default;
  }
}

/* end autosuggest styles */
