// utils styles

/* start not found styles */
.not-found {
  text-align: center;
  font-weight: $font-weight-medium;
  color: $font-custom-color;
  padding: 40px 20px;
}
/* end not found styles */

.message-box {
  p {
    margin: 0;
    text-transform: capitalize;
  }
}

.col-no-padding {
  padding: 0;
}

.flex-row {
  @include media-breakpoint-up(md) {
    margin-right: -8px;
    margin-left: -8px;
  }
}

.flex-sm-row {
  margin-right: -8px;
  margin-left: -8px;
}

.flex-1 {
  flex: 1;
}

.fw-light {
  font-weight: $font-weight-light;
}

.fw-normal {
  font-weight: $font-weight-normal;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.fw-semi-bold {
  font-weight: $font-weight-semibold;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.text-gray {
  color: $gray;
}

.text-black {
  color: $black;
}

.text-green {
  color: $green;
}

.text-primary {
  color: $primary-color !important;
}

.text-secondary {
  color: $secondary-color !important;
}

.bg-secondary {
  background-color: $secondary-bg !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.word-break-all {
  word-break: break-all;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 8px;
}

.p-2 {
  padding: 16px;
}

.p-3 {
  padding: 24px;
}

.border {
  border: 1px solid $border-color-default;
}

.border-top {
  border-top: 1px solid $border-color-default;
}

.border-bottom {
  border-bottom: 1px solid $border-color-default;
}

.border-left {
  border-left: 1px solid $border-color-default;
}

.border-right {
  border-right: 1px solid $border-color-default;
}

.rounded {
  border-radius: $border-radius-default;
}

.shadow-sm {
  box-shadow: $box-shadow;
}

.bg-white {
  background-color: $white;
}

.bg-light {
  background-color: $theme-light-white;
}

.one-line-ellipsis {
  @include text-ellipsis(1);
}

.two-line-ellipsis {
  @include text-ellipsis(2);
}

.three-line-ellipsis {
  @include text-ellipsis(3);
}

.text-truncate {
  @include text-truncate();
}

.desktop-hidden {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.fa {
  font-size: $font-size-small;
}

.avatar {
  border-radius: 50%;
}

.avatar-sm {
  width: 60px;
  height: 60px;
}
